@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Kanit');

.Home-banner {
    background-image: url('../../images/home-background.jpg');
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #efecec;
    margin-bottom: 30px;
}

.Home-branding {
    font-weight: bold;
    padding-top: 16%;
    font-family: 'Dancing Script', cursive;
    text-shadow: 4px 2px 5px rgba(150, 150, 150, 0.69);
}

.Home-branding-large-txt {
    font-size: 77px;
}

.Home-branding-small-txt {
    font-size: 40px;
}

.Home-title {
    padding: 0 12% 0 12%;
    margin-top: 80px;
}

.Home-title-text {
    background-color: rgba(82, 80, 80, 0.35);
    border-radius: 5px;
    padding: 10px;
}