@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Kanit');

.Gallery-banner {
    background-image: url('../../images/home-background.jpg');
    height: 50vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #efecec;
    margin-bottom: 30px;
}

.Gallery-branding {
    font-weight: bold;
    padding-top: 8%;
    font-family: 'Dancing Script', cursive;
    text-shadow: 4px 2px 5px rgba(150, 150, 150, 0.69);
}

li {
    cursor: pointer;
}

li:hover {
    font-weight: bold;
    color: #EB9C19;
}

/* Position and sizing of burger button */
.bm-burger-button {
  
    display: none;
}

@media only screen and (max-width: 600px) {
    .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        left: 32px;
        top: 32px;
        display: initial;
      }
  }
   
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background:grey;
  }
   
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
   
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
   
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
   
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
   
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
   
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
   
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

