.Common-Font {
    font-family: 'Kanit', sans-serif;
}

p {
    margin: 0 0 0px;
}

.txt-center {
    text-align: center;
}

a {
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #EB9C19;
    font-weight: bold;
    position: relative;
    top: -2px;
    left: 2px;
}

.link-gray {
    color: #b8b7ad;
}

.footer {
    font-size: 10px;
    margin-top: 30px;
    min-height: 50px;
    background-color: #333;
    color: #efecec;
    padding-top: 45px;
}